/*
 * Base structure
 */
@font-face {
	font-family: 'Roboto';
	
}
* { font-family: 'Roboto', sans-serif; }

/* Move down content because we have a fixed navbar that is 50px tall */

body {
  padding-top: 50px;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {display:none;}
}

th, td {
  text-align: center;
  height: 55px;
}
.table > tbody > tr > td {
  vertical-align: middle;
}

.unactive > td {
  color: #ffffff;
}

.badge-success{
  background-color:#5cb85c;
}
.badge-warning{
  background-color:#f0ad4e;
}
.badge-danger{
  background-color:#d9534f;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
  background-color: #AACD6E;
}
.navbar-right > li > h4{
	color: #ffffff;
	FONT-face="Impact";
	font-family: 'Rubik', sans-serif;
	 
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #ffffff;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  color: #1F0000;
}
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  background-color: #548235;
  color: #ffffff;
}
.security {
  color: #ffffff;
  background-color: #548235;
}
.management {
  color: #ffffff;    
  background-color: #548235;

}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 20px;
    padding-left: 20px;
	padding-top: 30px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholder {
  margin-bottom: 20px;
}
.top-placeholder {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-right: 5px;
}
.nav-placeholder {
  height: 40px;
  text-align: center;
  font-weight: bold;
  background-color: #AACD6E;
  padding-top: 10px;
  
}